In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
df=pd.read_csv("Crop_Recommendation.csv")
df.head()

    N   P   K  Temperature   Humidity        ph    Rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [2]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['label'] = encoder.fit_transform(df['label'])

In [3]:
x=df.drop('label', axis=1)
y=df['label']
y.shape

(2200,)

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42,shuffle=True)
print("X Train - ",x_train.shape,"\nX Test - ",x_test.shape,"\nY Train - ",y_train.shape,'\nY Test - ',y_test.shape)

X Train -  (1540, 7)
X Test -  (660, 7)
Y Train -  (1540,)
Y Test -  (660,)

In [5]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression
# Support Vector Machine (SVM)
from sklearn.svm import SVC  # Support Vector Classifier
# Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier
# Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
# Gradient Boosting Classifier (e.g., XGBoost, LightGBM, CatBoost)
from sklearn.ensemble import GradientBoostingClassifier  # General gradient boosting


from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [6]:
models={'LogisticRegression':LogisticRegression(),'SVC':SVC(),'DecisionTreeClassifier':DecisionTreeClassifier(),'RandomForestClassifier':RandomForestClassifier(),'GradientBoostingClassifier':GradientBoostingClassifier()}

In [7]:
def evaluate_regression_model(model, X_train, y_train, X_test, y_test):
 model.fit(x_train, y_train)
 y_pred = model.predict(x_test)
 accuracy = accuracy_score(y_test, y_pred)
 precision = precision_score(y_test, y_pred,average='micro')
 recall = recall_score(y_test, y_pred,average='micro')
 f1 = f1_score(y_test, y_pred,average='micro')
 return accuracy, precision, recall, f1
# Evaluate each regression model
regression_results = {}
for name, model in models.items():
 accuracy, precision, recall, f1 = evaluate_regression_model(model, x_train, y_train, x_test, y_test)
 print(name, 'Accuracy - ',accuracy, '\nPrecision - ', precision, '\nRecall - ', recall ,'\nF1 - ',f1)
 print()

c:\Users\ashridha\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression Accuracy -  0.9454545454545454
Precision -  0.9454545454545454
Recall -  0.9454545454545454
F1 -  0.9454545454545454

SVC Accuracy -  0.9636363636363636
Precision -  0.9636363636363636
Recall -  0.9636363636363636
F1 -  0.9636363636363636

DecisionTreeClassifier Accuracy -  0.9818181818181818
Precision -  0.9818181818181818
Recall -  0.9818181818181818
F1 -  0.9818181818181818

RandomForestClassifier Accuracy -  0.9924242424242424
Precision -  0.9924242424242424
Recall -  0.9924242424242424
F1 -  0.9924242424242424

GradientBoostingClassifier Accuracy -  0.9833333333333333
Precision -  0.9833333333333333
Recall -  0.9833333333333333
F1 -  0.9833333333333333

In [8]:
rfc =RandomForestClassifier(n_estimators=100, random_state=42)
rfc.fit(x_train, y_train)
rfc.predict(x_test)

array([15, 21, 17, 17,  0, 12,  0, 13, 14, 10,  2,  4, 19,  8,  4, 19,  0,
       11, 17, 15,  5, 17, 16, 17,  3,  8, 14, 16, 18, 20, 19, 13,  8, 10,
        8,  2,  8,  3,  3,  9, 17, 12,  2, 11, 14, 11, 18,  4, 15, 11,  2,
        5,  7, 14,  5,  9,  6,  0,  1,  2, 21,  4, 10, 16, 17, 18, 16, 20,
       15, 18, 15,  4,  8,  1,  2, 17,  1,  6, 21, 16,  5,  3, 20, 13, 16,
       12,  5, 13,  2, 19, 11, 13,  6, 17, 18, 13,  9,  5,  2, 10,  4, 20,
       16, 15, 21,  9, 21,  1, 18, 13,  1,  8,  6, 19, 18,  3, 11,  4, 19,
       20, 18,  7,  2,  4,  3,  2,  4, 11,  1, 13,  1,  9, 19,  3,  4, 16,
       18,  1,  1,  0,  9, 15, 14, 13,  4, 11,  0,  4,  9, 13, 14, 10, 21,
       14, 18, 18, 18,  9, 11,  8,  3,  0, 16,  6, 20,  4,  7, 10, 21,  7,
        7,  2, 19,  3,  4, 11, 10,  7, 21,  8,  5,  5,  9,  8, 13,  9,  1,
        9,  4, 17, 17, 14, 12, 19, 21,  9, 11,  0,  2,  3,  7,  7,  1,  6,
       20, 19, 14,  1,  8, 14, 11,  3,  3,  3,  0, 20,  9, 17,  5,  2,  9,
       12, 12,  4, 17,  0,  3, 19,  3, 15,  0, 15, 15, 12, 12,  6,  4, 19,
       20, 15,  5, 17, 13, 11, 12, 15, 18, 14,  5,  7,  4,  6, 18, 20,  0,
       19,  5,  3,  6,  8, 12,  1, 17,  0,  3, 20, 18, 13, 14,  8, 19,  7,
       13,  8, 11,  4, 11,  3,  1,  8,  4,  8, 12, 15,  0,  1, 18,  2, 16,
        3, 21,  1,  0,  3,  5, 18, 16,  0,  4, 17, 21, 13, 17,  3, 19,  3,
       17, 10,  0, 19,  3, 12,  3, 19, 21,  9, 14, 15, 21,  9, 15, 12,  8,
        2,  3,  1,  2, 18, 17, 18, 14,  4,  6,  7,  0, 10,  1,  8,  0, 19,
        0, 14, 15,  5,  5, 18,  8,  9,  1, 11,  8, 11, 18, 12,  9, 19, 21,
        2, 11, 20, 13,  9, 12,  6, 17, 13,  6, 14, 16,  8,  2, 14,  5,  1,
       18, 17,  0, 19, 11, 12,  4,  0, 10,  8, 13, 10,  4,  2,  8, 14,  6,
       21,  0,  7,  4,  7, 21, 20, 12, 12,  5, 19,  1,  7,  8, 16,  6, 12,
       17, 15, 13,  8,  3, 13, 19, 21, 13,  6, 17, 21, 13, 20,  4, 13, 13,
       11, 20, 11,  4, 16, 19,  9, 21, 14,  2, 20, 20,  6,  6, 18, 16,  2,
       10,  1, 12, 11,  0, 19, 12,  6, 14, 18,  3,  0,  5, 18,  8,  8,  8,
       17, 10,  7,  8, 16, 14, 12,  9,  7, 14, 16, 18,  1,  8, 18, 19,  5,
       15,  2, 17, 17, 19,  9,  3, 14, 14, 12, 18, 15, 12, 13, 18, 15, 20,
       19, 15, 18,  0, 14,  8,  9,  0, 20, 12, 17, 13,  6, 19, 18, 17, 10,
       11,  3, 15,  6,  9,  3, 14,  5,  5, 16, 21, 16,  7,  5, 18, 12,  0,
       12, 19,  5, 18,  5,  7,  6, 19, 17,  0,  2, 18, 21, 17,  2,  7, 10,
        8,  5, 17,  3,  5,  8, 13, 19, 17, 18,  0,  9, 16, 13, 20, 14, 21,
       19,  4,  4,  8, 19,  9, 13,  8,  9, 20, 10, 17, 19, 16,  3,  8, 19,
        6, 13, 14,  7, 14, 10,  6,  9, 12, 15,  9, 16, 18, 11,  8,  5,  6,
       11, 10,  9, 19, 17, 20, 18, 15, 14,  9, 11,  8,  9,  3,  6, 13,  0,
       17, 19,  6, 12,  7, 12,  5,  5,  6, 13,  4,  4,  4,  0, 16, 12, 12,
       16,  1,  0,  7,  2,  9,  7,  6, 10,  1, 13,  0,  8, 10,  5, 16, 10,
        2,  1,  9, 19,  8, 17, 10,  4,  9,  9, 13, 17,  3, 21])

In [9]:
df.tail()

        N   P   K  Temperature   Humidity        ph    Rainfall  label
2195  107  34  32    26.774637  66.413269  6.780064  177.774507      5
2196   99  15  27    27.417112  56.636362  6.086922  127.924610      5
2197  118  33  30    24.131797  67.225123  6.362608  173.322839      5
2198  117  32  34    26.272418  52.127394  6.758793  127.175293      5
2199  104  18  30    23.603016  60.396475  6.779833  140.937041      5

In [10]:
def prediction(N,P,K,Temperature,Humidity,ph,Rainfall):
  features=np.array([[N,P,K,Temperature,Humidity,ph,Rainfall]],dtype=object)
  #features=scaler.fit_transform(features)
  pred=rfc.predict(features).reshape(-1,1)
  pred = encoder.inverse_transform(pred)
  return pred[0]

In [11]:
prediction(107,34,32,26.774637,66.413269,6.780064,177.774507)

c:\Users\ashridha\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
c:\Users\ashridha\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_label.py:151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

'coffee'

In [12]:
import pickle
pickle.dump(rfc, open('Crop_recommendation.pkl', 'wb'))
pickle.dump(encoder, open('encoder.pkl', 'wb'))